.card-list-container {
    display: flex;
    gap: 2rem;
    /* justify-content: center; */
    max-width: 900px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    /* transform: rotate(-90deg);
    transform-origin: right top;
    transform:rotate(-90deg) translateY(-100px); */
}